body {
    font-family: sans-serif;
    padding: 20px;
    font-size: 18px;
    background-color: #121212;
    color: #e0e0e0;
}

.meta-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.meta-container {
    border: 1px solid #333;
    padding: 10px 15px;
    border-radius: 8px;
    width: 220px;
    min-height: 150px;
    color: #ddd;
    background-color: #1e1e1e;
    text-align: center;
}

.meta-container strong {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}

label {
    display: block;
    margin: 2px 0;
    font-size: 18px;
}

label.destacado {
    background-color: gold;
    color: black;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: bold;
    box-shadow: 0 0 6px gold;
    transition: 0.3s ease;
}

button {
    font-size: 18px;
    margin: 10px;
    background-color: #333;
    color: #eee;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    text-align: center;
}

input[type="checkbox"] {
    transform: scale(1.4);
    margin-right: 8px;
}

button:hover {
    background-color: #555;
}

h2 {
    text-align: center;
}

#minutosAviso {
    width: 50px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4px;
    transition: all 0.2s ease;
}

#minutosAviso:focus {
    border-color: #007BFF;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    outline: none;
}
